    .btn-transparent {
        color: #212529;
        /* same text color as .btn-light */
        background-color: transparent;
        border: 1px solid transparent;
        transition: background-color .15s ease, border-color .15s ease;
        padding: 0.3em;
    }
    
    .btn-transparent:hover,
    .btn-transparent:focus,
    .btn-transparent:active {
        color: #212529;
        background-color: #f8f9fa;
        /* same as .btn-light */
        border-color: #f8f9fa;
        text-decoration: none;
        outline: none;
    }